.comment-item {
  border-top: 1px solid #f4f5f5;
  padding: 20px 0;

  &:first-of-type {
    border-top: none;
  }

  // comment 头像、内容、操作项
  .ant-comment-inner {
    padding: 8px;

    .ant-comment-content-author {
      margin-bottom: 8px;
    }
  }

  // comment children 项
  .ant-comment-nested {
    padding: 8px 0 8px 8px;
  }

  .comment-delete {
    padding: 3px 4px;
    background-color: #f4f5f5;
    border-radius: 6px;
    color: #8a8f8d;
  }

  .action-list {
    // 第 3 个开始到最后
    .ant-space-item:nth-child(n + 3) {
      opacity: 0;
      transition: opacity 0.26s;
    }
  }

  &:hover {
    .action-list {
      .ant-space-item:nth-child(n + 3) {
        opacity: 1;
      }
    }
  }
}

.comment-item-reply {
  padding-left: 44px;
  border-top: none;
  padding-top: 0;
}
