.app {
  padding: 18px;
}

// 提及弹窗
.ql-mention-list-container.member-list-container {
  border-radius: 5px;
  max-width: 280px;
  padding: 5px;
  max-height: 280px;
  overflow: auto;
  .ql-mention-list.member-list {
    .ql-mention-list-item {
      border-radius: 5px;
      font-size: 14px;
      padding: 2px 18px;

      .member-item {
        display: flex;
        align-items: center;
        .item-avatar {
          width: 34px;
          height: 34px;
          border-radius: 100%;
          background-color: #e8f7ff;
          margin-right: 10px;
          // border: 1px solid #eee;
        }
        .item-box {
          height: 46px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .name,
          .email {
            line-height: initial;
          }
          .email {
            font-size: 12px;
            color: #c9cdd4;
            max-width: 176px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .ql-mention-list-item.selected {
      background-color: #f7f8fa;
    }
    .ql-mention-list-item.disabled {
      margin: 0;
      line-height: 26px;
      .mention-tips {
        font-size: 12px;
        text-align: center;
        cursor: default;
      }
    }
  }
  .ql-mention-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
}

.mention {
  background-color: #455eed;
  color: #fff;
  padding: 3px;
}